@model VacationSite3.Models.Data.Countries
@{
    ViewData["Title"] = "AddCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<style>
    body {
        background-image: url(https://wallpaperaccess.com/full/444300.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@using (Html.BeginForm("AddCountry", "Country", FormMethod.Post))
{
    @Html.LabelFor(x => x.CountryName)
    @Html.TextBoxFor(x => x.CountryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Save</button>
}
